<!DOCTYPE html>
<html>
<head>
  <title>Stock Price Checker</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>Stock Price Checker</h1>
  </header>
  <div id="userstories">
    <h3>Example usage:</h3>
    <code>/api/stock-prices?stock=GOOG</code><br>
    <code>/api/stock-prices?stock=GOOG&like=true</code><br>
    <code>/api/stock-prices?stock=GOOG&stock=MSFT</code><br>
    <code>/api/stock-prices?stock=GOOG&stock=MSFT&like=true</code><br>
    <h3>Example return:</h3>
    <code>{"stockData":{"stock":"GOOG","price":1450.00,"likes":2}}</code><br>
    <code>{"stockData":[{"stock":"GOOG","price":1450.00,"rel_likes":1},{"stock":"MSFT","price":200.00,"rel_likes":-1}]}</code>
  </div>
  
  <div id="testui">
    <h3>Get single price and total likes</h3>
    <form id="singleStockForm">
      <input type="text" name="stock" placeholder="GOOG" required />
      <input type="checkbox" name="like" value="true" /> Like?
      <button type="submit">Get Price!</button>
    </form>

    <h3>Compare and get relative likes</h3>
    <form id="compareStockForm">
      <input type="text" name="stock1" placeholder="GOOG" required />
      <input type="text" name="stock2" placeholder="MSFT" required />
      <input type="checkbox" name="like" value="true" /> Like both?
      <button type="submit">Compare</button>
    </form>
    
    <code id="jsonResult"></code>
  </div>
  
  <script src="/public/script.js"></script>
</body>
</html>
