#userstories {
  margin-left: 5%;
  margin-top: 5%;
}

#testui {
  margin-left: 5%;
}

input[type="text"] {
  width: 100px;
}

code {
  display: block;
  margin: 20px 0;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}
